-
	var
		logo = {
			default: 'logo-default-138x58.svg',
			inverse: 'logo-inverse-138x58.svg',
			name:    'Lintense'
		},

		buyLink = 'https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-lintense/',

		menu = [
			{
				title: 'Who we are',
				link: '#who-we-are'
			},
			{
				title: 'Our mission',
				link: '#our-mission'
			},
			{
				title: 'Join us',
				link: '#join-us'
			},
			{
				title: 'How we work',
				link: '#how-we-work'
			},
			{
				title: 'Events',
				link: '#events'
			},
			{
				title: 'Testimonials',
				link: '#testimonials'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		],

		homePage,
		pageName,
		pageId,
		htmlClass,
		breadcrumbs = [];
