// CTA
section#join-us.section.bg-primary-light
	.container
		.row.align-items-center
			.col-md-6.col-lg-7.d-none.d-md-block
				+img( 'home-02-724x746.png' ).cta-image
			.col-md-6.col-lg-5
				.section-md
					h6 JOIN US
					h2 Make a difference
					h5 Become a volunteer at Lintense to help people all over the world and change lives for the better through various spheres, such as education, healthcare, environment, culture ...
					a.btn.btn-primary( href='#' ) Volunteer today
