// Intro
section#who-we-are.section.section-into.bg-transparent
	.container
		.row.row-30.align-items-center.flex-md-row-reverse
			.col-xxl-4.col-md-6
				+img( 'home-01-754x615.png' ).intro-image
			.col-xxl-8.col-md-6
				h1 Together we are changing the world
				h5.w-xxl-75 Welcome to the Lintense, the leading charity offering you a chance to impact lives worldwide. With every charitable project, we prove that even small actions matter.
				a.btn.btn-primary( href='#' ) Learn more
