// Partners
section.section.section-sm.bg-primary-light
	.container
		.row.row-30.justify-content-between.align-items-center.flex-md-row-reverse
			.col-md-6
				+img( 'home-03-620x693.png' )
			.col-xl-5.col-md-6
				h6 OUR partners
				h3 Trustworthy sponsors
				h5 These companies and organizations made a significant contribution into our charity goals.
				.row.row-20.gutters-20.justify-content-end
					.col-sm-4.col-6
						a.brand( href='#' )
							+img( 'brand-01-50x71.svg' )
					.col-sm-4.col-6
						a.brand( href='#' )
							+img( 'brand-02-68x67.svg' )
					.col-sm-4.col-6
						a.brand( href='#' )
							+img( 'brand-03-38x84.svg' )
					.col-sm-4.col-6
						a.brand( href='#' )
							+img( 'brand-04-103x56.svg' )
					.col-sm-4.col-6
						a.brand( href='#' )
							+img( 'brand-05-94x71.svg' )
