// Jobs
section#how-we-work.section.section-lg.bg-transparent
	.container
		.row.row-40.justify-content-between
			.col-xl-5.col-lg-6
				h6 OUR PLAN INVOLVES YOU
				h3 Lend a helping hand to those who need it!
				h5 Consider making a donation to change the lives of people in need all over the world.
				a.btn.btn-primary( href='#' ) Donate now
			.col-xl-5.col-lg-6
				.group-plans
					.plans
						h4.plans-title Secure payments
						p.plans-text Create an amazing page that represents you and your story, then share it and instantly start collecting online donations.
					.plans
						h4.plans-title Lots of charity projects
						p.plans-text At Lintense, there is a variety of charity projects that receive donations of any kind. Just choose any available project for donation and set the desired amount.
					.plans
						h4.plans-title Scam-free donations
						p.plans-text With our charity organization, you can be safe from any scams and frauds because of our reputation and experience.
