// Jobs
section#events.section.section-lg.bg-transparent
	.container
		.row.row-40.justify-content-between
			.col-xl-5.col-lg-6
				h6 OUR PROGRAMS
				h3 Help people in need across the world
				h5 Lintense manages various charity projects aimed at helping children & adults across the world.
				a.btn.btn-primary( href='#' ) View more
			.col-lg-6
				.group-programs
					.programs
						.programs-icon
							+img( 'icon-04-50x50.png' )
						.programs-body
							.programs-subtitle December 13, 2020 in South Africa
							a.programs-title( href='#' )
								h4 Preventing hunger
								svg.icon.icon-svg-stroke(width='18' height='18' fill='none' viewBox='0 0 18 18')
									path(d='M2 9H16' stroke-width='2' stroke-linecap='round')
									path(d='M10 3L16 9L10 15' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					.programs
						.programs-icon
							+img( 'icon-05-50x50.png' )
						.programs-body
							.programs-subtitle December 13, 2020 in Canada
							a.programs-title( href='#' )
								h4 Warm clothing for kids
								svg.icon.icon-svg-stroke(width='18' height='18' fill='none' viewBox='0 0 18 18')
									path(d='M2 9H16' stroke-width='2' stroke-linecap='round')
									path(d='M10 3L16 9L10 15' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					.programs
						.programs-icon
							+img( 'icon-06-50x50.png' )
						.programs-body
							.programs-subtitle December 13, 2020 in Syria
							a.programs-title( href='#' )
								h4 Children’s education
								svg.icon.icon-svg-stroke(width='18' height='18' fill='none' viewBox='0 0 18 18')
									path(d='M2 9H16' stroke-width='2' stroke-linecap='round')
									path(d='M10 3L16 9L10 15' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
