extends ../components/base/_skeleton

block variables
	- pageName = 'Lintense Charity';

block page
	include ../components/rd-navbar/_rd-navbar
	include ../components/section/_intro
	include ../components/section/_services
	include ../components/section/_cta
	include ../components/section/_plans
	include ../components/section/_how-we-work
	include ../components/section/_programs
	include ../components/section/_partners
	include ../components/section/_testimonials
	include ../components/footer/_footer
